%table{class: 'table table-striped'}
  %tr
    %th= 'Title'
    %th= 'Content'
    %th= 'created_at'
    %th= 'updated_at'
    %th
    %th
    %th

  - @blogs.each do |blog|
    %tr
      %td= blog.title
      %td= blog.content
      %td= blog.created_at
      %td= blog.updated_at
      %td 
        = link_to 'Show', blog, class: 'btn btn-mini btn-success'
        = link_to 'Edit', edit_blog_path(blog), class: 'btn btn-mini'
        = link_to 'Destroy', blog, :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-mini btn-danger'
