%h1 Map
= link_to tiles_path(x:@prev_x, y: @current_y), id: "left" do
  %i.icon-arrow-left
= link_to tiles_path(x: @next_x, y: @current_y), id: "right" do
  %i.icon-arrow-right
= link_to tiles_path(x:@current_x, y: @prev_y), id: "up" do
  %i.icon-arrow-up
= link_to tiles_path(x: @current_x, y: @next_y), id: "down" do
  %i.icon-arrow-down

#maps
  - @tiles.each_with_index do |tile, index|
    - x = index.modulo(@width)
    - y = index/@width
    %div{class: "tile-#{x+1}-#{y+1} field-#{tile.field_type}"}
      = "(#{tile.x},#{tile.y})"
    %div{class: "tile-#{x+1}-#{y+1} grid"}
